
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table id="cartTable">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {{#each products}}
                           
                            <tr>
                                {{!-- {{#each this.product}} --}}
                                <td class="cart__product__item">
                                    <img src="/product-images/{{this.product._id}}.jpg"
                                        style="width: 60px; height:auto ;" alt="">
                                    <div class="cart__product__item__title" >
                                        <h6 >{{this.product.name}}</h6>
 
                                        <div class="rating">
                                            {{!-- <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> --}}
                                        </div>
                                    </div>

                                </td>

                                <td  class="cart__price">{{this.product.price}}</td>


                                <td class="cart__quantity d-flex mt-4" >
                                    <button type="button"
                                    
 class="btn btn-light"onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)" >-</button>
                                    
                                           
                                    {{!-- <div class="pro-qty" id="{{this.product._id}}">
                                        <input  type="text"  value="{{this.quantity}}">
                                    </div> --}}
                                    <span id="{{this.product._id}}" class="mt-2 mx-4">{{this.quantity}}</span>
                                    <button type="button"
                                            class="btn btn-light mt-2"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1) " >+</button>
                                </td>
                                <td class="cart__total" id="{{this.product._id}}">{{totalPrice}}</td>
                              
                                <td>
                                    <button id=" RemoveProduct" class=" btn btn-danger rounded-pill" onclick="removeProduct('{{this._id}}','{{this.product._id}}')"> remove</button>
                                </td>
                            </tr>
                             </tr>
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="/shop">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="/"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{!-- <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">Apply</button>
                    </form>
                </div> --}}
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        {{!-- <li>Subtotal <span>$ 750.0</span></li> --}}
                        <li>Total <span  id="total">₹ {{totalValue}}</span></li>
                    </ul>
                    {{!-- <form action="">
                        <button class="primary-btn" type="submit">Proceed to checkout</button>
                    </form> --}}
                     <a href="/checkout/cart" class="primary-btn">Proceed to checkout</a> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->
 <!-- Footer Section Begin -->
<section  >
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="images/logo.png" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="images/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="images/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="images/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="images/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="images/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="/user-profile">My Account</a></li>
                        {{!-- <li><a href="#">Orders Tracking</a></li>
                        <li><a href="/checkout">Checkout</a></li> --}}
                        <li><a href="wishlist">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>

<!-- Footer Section End -->
 

{{!--  changing quantity --}}

<script src="/script.js">
    
</script>

<script>
    
  //changing quantity in cart
function changeQuantity(cartId, proId,userId, count,) {
    
   let quantity=parseInt(document.getElementById(proId).innerHTML)
  count=parseInt(count)
  $.ajax({
    url: "/change-product-quantity",
    data: {
        user:userId,
      cart: cartId,
      product: proId,
      count: count,
      quantity:quantity
    },
    method: "post",
  //  cache: false,
    success: (response) => {
      if(response.removeProduct){
    
     location.reload()
      }else{
       // $('#cartNum').load(location.href+"#cartNum")
       document.getElementById(proId).innerHTML=quantity+count
       document.getElementById('total').innerHTML=response.total
       $( "#cartTable" ).load(window.location.href + " #cartTable" );
       
      }
    },
  });
}
   
  
 </script>
 