

<div class="container mt-4">

  <div class="row ">
  
    <div class="col-md-3 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{request.tittle}}</h5>
      <p class="card-text font-weight-bold">Title: {{request.title}}<br>
          Quantity: {{request.quantity}}<br>
          Email: {{request.email}}<br>
          Status: {{request.status}}



        </p>
          <a href="#" class="btn btn-primary">Cancel</a>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
